---
Language: Cpp
BasedOnStyle: GNU

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4

# Line breaking and limits
ColumnLimit: 120
#BreakBeforeBraces: Mozilla
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterEnum: true
    AfterFunction: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakTemplateDeclarations: Yes
BreakAfterReturnType: Automatic

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true

SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false

SpacesBeforeTrailingComments: 1
SpacesInParentheses: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# Pointers and references
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Function formatting
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

# Includes
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
    - Regex: '^".*\.hpp"$'
      Priority: 1
    - Regex: '^<.*\.h>'
      Priority: 2
    - Regex: "^<.*>"
      Priority: 3
    - Regex: ".*"
      Priority: 4

# Other formatting options
BinPackArguments: true
BinPackParameters: true
CompactNamespaces: false
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
ReflowComments: true
SortUsingDeclarations: true
Standard: c++20

# Penalty settings for line breaking decisions
PenaltyBreakAssignment: 200
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 150
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60

# Macro handling
IndentPPDirectives: None
MacroBlockBegin: ""
MacroBlockEnd: ""
