build
build/**/*
compile_commands.json
*.bin

# build stuff
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

*.vcxproj
*.vcxproj.*
space.slnx
space.sln

# executables
space


# cache + editor files
.DS_Store
.cache/**/*
.*

# ALL_BUILD and space.dir (windows)
*.dir

# exclusions
!.gitignore
!.clang*
